
/* -------------------------------------------------------
                      General Styling
---------------------------------------------------------*/


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #444;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;

  /* the base size that all other relative sizes are based on */
  font-size: 17px;
  text-rendering: optimizeLegibility;

  /* hides content that overflows on the X-axis */
  overflow-x: hidden;
}



section {
    padding: 80px 0; 
    
    /* prevents outline after being link-scrolled to */
    outline: none;
}


.long-copy {
    display: inline-block;  
    margin-left: 5%;
    width: 90%;
    
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (min-width: 620px) {
    
    .long-copy {
        margin-left: 15%;
        width: 70%;

        padding-left: 30px;
        padding-right: 30px;
    }  
}


.long-copy p {
    padding-bottom: 10px;
    line-height: 150%;
}







h2 {
  text-align: center;
    
  /*text-transform: uppercase;*/
  /*color: #4169e1;*/

  font-size: 200%;
  font-weight: 300;
    
  word-spacing: 2px;
}

/* a horizontal line that appears after h2 headings */
h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #4169e1;

  /* need content, but we don't want to show anything, so we make it a space */
  content: " ";

  /* centers it */
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}












/* -------------------------------------------------------
                     Navigation Menu
---------------------------------------------------------*/


/* ------------------------ Mobile Nav First! --------------------------- */

nav {
    width: 100%;
    
    /* top-most layer is 9999*/
    position: relative;
    z-index: 9999;
}

.nav-top-left {
  float: left;
}

.nav-top-right {
  float: right;
  display: none;
}

.nav-top-left li,
.nav-top-right li {
  list-style: none;         /* removes bullets */
  padding-top: 7px;
  padding-bottom: 4px;
}

.nav-top-left li {
  margin-left: 12px;
    display: inline-block;    /* allows the elements to be side-by-side */
}

.nav-top-right li {
  margin-left: 40px;
}

.nav-top-right li:last-child,
.mobile-nav-icon {
  margin-right: 12px;
}





.nav-top-right .section-link {
  text-transform: uppercase;
}

.section-link:link,
.section-link:visited {
  text-decoration: none;

  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;

  color: #fffaf0;

  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.section-link:hover,
.section-link:active {
  border-bottom: 1px solid #fffaf0;
}

.mobile-nav-icon {
    /* hidden by default */
    display: inline-block;
    
    /* let's give them a hand */
    cursor: pointer; 
    
    color: #fffaf0;
    float: right;
    
    padding-top: 2px;
    font-size: 150%;
}

/* ------------------------ Desktop Nav --------------------------- */

@media only screen and (min-width: 620px) {
    
    .mobile-nav-icon {
        /* hide for desktop etc */
        display: none;
    }
    
    .nav-top-right {
        display: inline;
    }
    
    .nav-top-right li {
        /* line up the list items vertically*/
        display: inline-block;
    }
    
}






/* ------------------------ Sticky Nav --------------------------- */



.sticky {
    position: fixed;
    
    /* #4169e1 with slight transparency */
    background-color: rgba(65, 105, 225, 0.95);
    
    /* slightly darker shadow under the menu to give it a shadow/border */
    -webkit-box-shadow: 0 1px 2px #153185;
    box-shadow: 0 1px 2px #153185;
    
}

.sticky .section-link:link,
.sticky .section-link:visited {
  color: #fffaf0;
}







/* -------------------------------------------------------
                         Hero
---------------------------------------------------------*/






/* ------------------ Mobile Hero  ----------------- */




header {
  /*background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url(vendors/img/berry-van-der-velden-32818.jpg);*/
  /*background-image: linear-gradient(to right, rgb(0, 31, 62), rgba(32, 79, 193, 0.7)), url(vendors/img/berry-van-der-velden-32818.jpg);*/
  /*background-image: linear-gradient(to right, rgb(0, 15, 30), rgba(0, 15, 30, 0.7)), url(vendors/img/berry-van-der-velden-32818.jpg);*/
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 15, 30, 0.7))), url(../../vendors/img/berry-van-der-velden-32818.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 15, 30, 0.7)), url(../../vendors/img/berry-van-der-velden-32818.jpg);

  /* finds a way to show as much of the image as possible */
  background-size: cover;
  background-position: center;

  /* scroll past the image */
  background-attachment: fixed;

  /* 100% of viewport */
  height: 100vh;
}


.banner {
    /* as a group, these vertically center the element */
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    width: 100%;

    /* all of the banner font-sizes will scale from this */
    font-size: 1.5vw;

    /*background-color: rgba(28, 255, 0, 0.51);*/
}


.banner img {
    /* round! */
    border-radius: 50%;
    
    position: static;

    display: block;
        
    width: 50vw;        
        
    /* centers it */
    margin-left: auto;
    margin-right: auto;
}


.nameplate {
    z-index: 2; 
    
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    
    display: block;

    /*background-color: rgba(255, 0, 0, 0.51);*/
}

h1,
.nameplate li {
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-weight: 100;
  color: white;
}

h1 {
  font-size: 500%;
  text-align: center;
  margin: 0;
    padding: 0 0;

  /*background-color: rgba(65, 105, 225, 0.51);*/
}


/* line that appears after heading */
h1:after{
    display: block;
    height: 0;
    border-bottom: 1px solid white;
    
    width: 42%;
    margin-top: 1.35vw;
    margin-bottom: 1.05vw;

    /* centers it */
    margin-left: auto;
    margin-right: auto;
    
    content: " ";  /* content is required */
}


.nameplate ul{
  text-align: center;

/*  background-color: rgba(65, 105, 225, 0.51);*/
}

.nameplate li {
    font-size: 350%;
    padding: 0 1.5vw;

    display: inline-block;
}


/* ------------------ Desktop Hero  ----------------- */

@media only screen and (min-width: 620px) {

    .banner {
        font-size: 1.00vw;
    }
    
    .banner img {
        /* in the worst case, show this picture under other elements */
        position: relative;
        z-index: 0;

        /* put this on the right */
        display: inline-block;
        float: right;
        margin-right: 10%;
        margin-left: 0;
        
        width: 30vw;
    }
    
    .nameplate {
        /* as a group, these vertically center the element */
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        
        /* put it on the left */
        margin-left: 10%;
        display: inline-block;
        float: left;        
    }
    
    

    /* line that appears after heading */
    h1:after{
        width: 70%;
        margin-top: 0.9vw;
        margin-bottom: 0.7vw;
    }
    
    .nameplate li {
        padding: 0 1vw;
    }
}





/* -------------------------------------------------------
                         About
---------------------------------------------------------*/


.introduction {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.goal p {
  text-align: center;
  font-size: 120%;
  color: #4169e1;
}


.goal p:first-child {
  padding-top: 20px;
}

.goal p:last-child {
  padding-bottom: 25px;
}






/* -------------------------------------------------------
                         Projects
---------------------------------------------------------*/



#projects {
    background-color: #f0f0f0;
}

.project-item {
    padding-top: 30px;
    padding-bottom: 20px;
    
    border-radius: 20px;
    
    background-color: #4169e1; /* just as a default */
    
    background-size: cover;
    background-position: center;
}

.project-overview {
    padding-bottom: 10px;
    
    color: white;
}

.project-overview h3 {
    padding-bottom: 5px;
    font-weight: 400;
}

.project-overview p {
    font-weight: 300;
}


.project-details {
    background-color: white;
    
    border-radius: 2px;
    
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


/* ---- Indiviual Project Background Images ---- */

.project-item.lotr-witn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.1))), url(../../resources/img/lotr-witn/screen1.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(../../resources/img/lotr-witn/screen1.jpg);    
}



/* -------------------------------------------------------
                         Social
---------------------------------------------------------*/





.social-links {
  width: 100%;
  display: inline-block;
}

.social-links ul {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.social-links li {
  list-style: none;         /* removes bullets */
  display: inline-block;    /* allows the elements to be side-by-side */

  padding: 10px;
}

.ion-social-linkedin,
.ion-social-github{
  font-size: 300%;
  color: #555;

  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ion-social-linkedin:hover,
.ion-social-linkedin:active {
  color: #0077B5;
}

.ion-social-github:hover,
.ion-social-github:active {
  color: #24292e;
}








/* -------------------------------------------------------
                         Footer
---------------------------------------------------------*/




footer {
    background-color: #153185;
    padding: 40px;
    font-size: 80%;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    
}

footer p {
    color: white;
    text-align: center;
}


footer a:link,
footer a:visited{
    color: inherit;
    
    /* replace old-and-busted underline with new-hotness */
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    
    transition: border-bottom 0.2s, color 0.2s;
}

footer a:hover,
footer a:active {
    color: inherit;
    border-bottom: 1px solid white;
}